{% extends 'base.html' %}
{% load static %}
{% block title %}check out {% endblock %}
{% block content %}  



 <div class="container ">
    <div class="row ">
      <div class="col-lg-8 ">
        <h2>Checkout1</h2>
       
        <h3>Order Summary</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
                {% for cart_item, temp_amount in cart_items_with_temp_amount %}
                <tr>
                  <td>{{ cart_item.product.name }}
                    {% if cart_item.variations.exists %}
                    {% for vari in cart_item.variations.all %}
                    {{ vari.get_type_display }}: {{ vari.variation_value }}<br>
                    {% endfor%}
                    {% else %}
                    .
                    {% endif %}

                  </td>
                  <td>{{ cart_item.quantity }}</td>
                  <td>{{ cart_item.product.price }}</td>
                  <td>{{ temp_amount }}a</td>


                </tr>
              {% endfor %}
              <tr>
                <td colspan="3">Shipping</td>
                <td>{{ shipping_amount }}</td>
              </tr>
              {% if coupon_discount %}
                <tr>
                  <td colspan="3">Coupon ({{ coupon_code }})</td>
                  <td>-{{ coupon_discount }}</td>
                </tr>
              {% endif %}
              <tr>
                <td colspan="3"><strong>Total</strong></td>
                <td><strong>{{ total_amount }}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="">
          <h2>Shipping Address</h2>
          {% for address in addresses %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="address_id"  value="{{ address.id }}">
              <label class="form-check-label">{{ address.house_name }}, {{ address.street }}, {{ address.district }}, {{ address.state }}, {{ address.pincode }}</label>
            </div>
          {% endfor %}
        </div>
        <h2>Redeem Coupon</h2>
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <form method="post" class="form-inline">
          {% csrf_token %}
          <div class="form-group">
            <label for="coupon_code" class="sr-only">Coupon code:</label>
            <input type="text" class="form-control" name="coupon_code" id="coupon_code" placeholder="Enter coupon code">
          </div>
          <button type="submit" class="btn btn-primary">Redeem</button>
        </form>
      </div>
    </div>
  </div>




  
<!--================End Checkout Area =================-->


<!-- <div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h1>Shipping Address</h1>
      {% for address in addresses %}
      <div class="card mb-3">
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="address_id" value="{{ address.id }}">
            <label class="form-check-label">{{ address.house_name }}, {{ address.street }}, {{ address.district }}, {{ address.state }}, {{ address.pincode }}</label>
          </div>
        </div>
      </div>
      {% endfor %}

      <h2>Redeem Coupon</h2>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <form method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
          <label for="coupon_code" class="sr-only">Coupon code:</label>
          <input type="text" class="form-control" name="coupon_code" id="coupon_code" placeholder="Enter coupon code">
        </div>
        <button type="submit" class="btn btn-primary">Redeem</button>
      </form>
    </div>

    <div class="col-lg-5">
      <h2>Order Summary</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
                {% for cart_item, temp_amount in cart_items_with_temp_amount %}
                <tr>
                  <td>hii</td>
                  <td>{{ cart_item.quantity }}</td>
                  <td>{{ cart_item.product.price }}</td>
                  <td>{{ temp_amount }}</td>


                </tr>
              {% endfor %}
              <tr>
                <td colspan="3">Shipping</td>
                <td>{{ shipping_amount }}</td>
              </tr>
            {% if coupon_discount %}
            <tr>
              <td colspan="3">Coupon ({{ coupon_code }})</td>
              <td>-{{ coupon_discount }}</td>
            </tr>
            {% endif %}
            <tr>
              <td colspan="3"><strong>Total</strong></td>
              <td><strong>{{ total_amount }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}
