{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h1 class="mb-4">Edit Address</h1>
          <hr>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.name.id_for_label }}">Name:</label>
              {{ form.name }}
              {% if form.name.errors %}
                <span class="text-danger">{{ form.name.errors }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.mobile.id_for_label }}">Mobile:</label>
              {{ form.mobile }}
              {% if form.mobile.errors %}
                <span class="text-danger">{{ form.mobile.errors }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.house_name.id_for_label }}">House Name:</label>
              {{ form.house_name }}
              {% if form.house_name.errors %}
                <span class="text-danger">{{ form.house_name.errors }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.street.id_for_label }}">Street:</label>
              {{ form.street }}
              {% if form.street.errors %}
                <span class="text-danger">{{ form.street.errors }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.district.id_for_label }}">District:</label>
              {{ form.district }}
              {% if form.district.errors %}
                <span class="text-danger">{{ form.district.errors }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.state.id_for_label }}">State:</label>
              {{ form.state }}
              {% if form.state.errors %}
                <span class="text-danger">{{ form.state.errors }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.pincode.id_for_label }}">Pincode:</label>
              {{ form.pincode }}
              {% if form.pincode.errors %}
                <span class="text-danger">{{ form.pincode.errors }}</span>
              {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
          <a href="{% url 'check_out' %}" class="btn btn-secondary mt-4"><i class="fas fa-arrow-left"></i> Back to Checkout</a>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

