{% extends "base.html" %}

{% block content %}
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-white sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'order_history' %}">
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_address' %}">
              View Address
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_address' %}">
              Add Address
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'view_whishlist' %}">
              Wishlist
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-10">
      <h2>Your Wishlist</h2>
      {% if wish %}
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for item in wish %}
                <tr>
                  <td><a href="{% url 'view_item' item.product.slug %}"><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="max-width: 100px;"></a></td>
                  <td> <a href="{% url 'view_item' item.product.slug %}"><h5>{{ item.product.name }} </h5></a></td>

                  <td>${{ item.product.price }}</td>
                  <td>
                    <form method="post" action="{% url 'delete_whishlist' item.product.id %}">
                      {% csrf_token %}
                      <input type="hidden" name="product_id" value="{{ item.product.id }}">
                      <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                  
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>Your wishlist is empty</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
