{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-white sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item ">
              <a class="nav-link active" href="{% url 'order_history' %}">
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_address' %}">
                view address
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_address' %}">
                Add address
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_whishlist' %}">
                Whishlist
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-10 ml-sm-auto px-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title">Add Address</h2>
                </div>
                <div class="card-body">
                  <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                      <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                          <span class="invalid-feedback d-block">{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% endfor %}
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Save Address</button>
                      <a href="{% url 'user_dashboard' %}" class="btn btn-secondary">Back</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}
