{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Change Password</h2>
        </div>
        <div class="card-body">
          <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}




{% comment %} {% extends 'base.html' %}
{% block title %} change password {% endblock %}
{% block content %}
  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
  </form>
{% endblock %} {% endcomment %}