
 {% extends 'base.html' %}
 {% block content %} 

<div class="container">
  <h3 class="text-center mb-4">Set New Password</h3>
  <form class="row login_form" method="post" action="{% url 'set-new-password' uidb64=uidb64 token=token %}" id="contactForm">
    {% csrf_token %}
    <div class="col-md-12 form-group">
      <label for="password1">Password</label>
      <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
    </div>
    <div class="col-md-12 form-group">
      <label for="password2">Confirm Password</label>
      <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" required>
    </div>
    <div class="col-md-12 form-group">
      <button type="submit" value="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
    {% for message in messages %}
      <div class="col-md-12 form-group">
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      </div>
    {% endfor %}
  </form>
</div>

{% endblock %}